/*#region Constants */
:root {
    /* Colors */
    --page-dark-color: #191b26;
    --subpage-dark-color: #2e303a;
    --light-text-color: white;
    --accent-color: #9cb0ff;
    --dark-accent-color: #8294da;
    --very-dark-accent-color: #454e73;
}
